.navbar-item-left {
    float:left;
}
.navbar-item-right {
    float:right;
}
.navbar-offset-20 {
    margin-left: 20%;
}
.navbar-content {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;  
}
.navbar-content:hover {
    background-color: rgb(100,100,100);
}
.navbar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(26, 25, 25, 0.75);
    backdrop-filter: blur(3px)  
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

